.navbar-wrapper {
  background-color: black;
}

.navbar {
  color: #888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1248px;
  padding: 0 24px;

  ul {
    list-style-type: none;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}

.navbar-logo {

}

.navbar-main {
  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    padding: 0 8px;
  }
}

.navbar-right {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      &:nth-child(n+2) {
        margin-left: 12px;
      }
    }
  }

  .sign-up {
    border: 1px solid white;
    background-color: white;
    color: black;
    padding: 0 12px;
    border-radius: 5px;
    font-weight: 500;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: black;
      color: white;
      border: 1px solid white;
    }
  }
}
